.stApp {
    background: linear-gradient(135deg,
            #d299ef 0%,
            #a8d4e8 50%,
            #f99ed9 100%);
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background-color: rgb(131, 198, 249);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

h1,
h2,
h3 {
    color: #ebecee;
}

div[data-testid="metric-container"] {
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(240, 215, 243, 0.05);
}

.predicition-box {
    background: linear-gradient(135deg,
            #dcfce7,
            #bbf7d0);
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ea9df8;
    margin-top: 15px;


}